In [1]:
import json # will be needed for saving preprocessing details
import numpy as np # for data manipulation
import pandas as pd # for data manipulation
from sklearn.model_selection import train_test_split # will be used for data split
import requests

df = pd.read_csv('zoo/data/german_data.csv', index_col=0)
df = df.drop(columns = ['Saving accounts', 'Checking account'])

x_cols = [c for c in df.columns if c != 'Risk']

# set input matrix and target column
X = df[x_cols]
y = df['Risk']
# show first rows of data

df.head()

,Age,Sex,Job,Housing,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,1169,6,radio/TV,good
1,22,female,2,own,5951,48,radio/TV,bad
2,49,male,1,own,2096,12,education,good
3,45,male,2,free,7882,42,furniture/equipment,good
4,53,male,2,free,4870,24,car,bad

In [2]:
# data split train / test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=1234)

In [5]:
for i in range(2):
    input_data = dict(X_test.iloc[i])
    target = y_test.iloc[i]
    r = requests.post("http://127.0.0.1:8000/api/v1/algorithms/predict?status=ab_testing", input_data)
    response = r.json()
    print(response)
    # provide feedback
    requests.put("http://127.0.0.1:8000/api/v1/requests/{}".format(response["request_id"]), {"feedback": target})

{'probability': 0.05733167685353127, 'label': 'bad', 'status': 'OK', 'request_id': 1}
{'probability': 0.43333333333333335, 'label': 'bad', 'status': 'OK', 'request_id': 2}

In [ ]:
r = requests.post("http://127.0.0.1:8000/api/v1/abtest/predict?status=ab_testing", input_data)